<h1>Listing mails</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Subject</th>
    <th>Receiver</th>
    <th>Created at</th>
    <th>Udpated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mails.each do |mail| %>
  <tr>
    <td><%= mail.description %></td>
    <td><%= mail.subject %></td>
    <td><%= mail.receiver_id %></td>
    <td><%= mail.created_at %></td>
    <td><%= mail.updated_at %></td>
    <td><%= link_to 'Show', mail %></td>
    <td><%= link_to 'Edit', edit_mail_path(mail) %></td>
    <td><%= link_to 'Destroy', mail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mail', new_mail_path %>
